@media only screen and (min-width: 425px) {
  .container {
    padding: 1rem 4rem !important;
  }
}

@media only screen and (min-width: 599px) {
  .container {
    margin: 0 3rem !important;
  }
}

@media only screen and (min-width: 768px) {
  .projects {
    flex-flow: wrap row !important;
    justify-content: center !important;
    width: calc(600px + 3rem) !important;
  }
  .card {
    margin: 0 0.5rem 3rem !important;
  }
  .container {
    margin: 0 4rem !important;
  }
  .main {
    align-items: center;
  }
  .custom {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .content-section {
    width: 100%;
  }
}

@media only screen and (min-width: 999px) {
  .intro,
  .resume,
  .tree-links {
    width: 60% !important;
  }
  .container {
    margin: 0 3rem !important;
  }
  .projects {
    width: calc(900px + 4rem) !important;
  }
}
