@import "reset.css";
@import "normalize.css";

:root {
  --color-foreground: #fff;
  --color-background: #1d1d1f;
  --font-stacks: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto",
    "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

html,
body {
  overflow: hidden;
  user-select: none;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: "Lalezar", var(--font-stacks);
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coming-soon {
  font-size: 3rem;
  animation: fadeInUp 1s;
}

.footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.brand-name {
  direction: ltr;
  font-family: var(--font-stacks);
  font-weight: 500;
}

.social-media {
  display: flex;
  flex-direction: row-reverse;
}

.icon {
  width: 24px;
  height: 24px;
  margin: 0 0.5rem;
}

.link {
  color: var(--color-foreground);
  text-decoration: none;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
